blinker==1.8.2
cffi==1.17.1
click==8.1.8
cryptography==46.0.3
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
gunicorn==23.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==26.0
pycparser==2.23
PyMySQL==1.1.2
python-dotenv==1.0.1
six==1.15.0
SQLAlchemy==2.0.44
typing_extensions==4.13.2
Werkzeug==3.0.6
WTForms==3.1.2
zipp==3.20.2
